<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/setting">Setting</a>
    </div>
    <div>
        <div>
            <button class="btn">Gửi thông tin liên hệ</button><br>
        </div>
        <h1>
            <input type=" text" id="myTextBox" class="text-box">
        </h1>
    </div>
</body>

</html>