<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Employees</a>
        <a href="/setting">Setting</a>
    </div>
    <div><h1></h1></div>
    <div class="form-add-new">
    <form action="/delete-user" method="post">
        <!-- <%= JSON.stringify(employeeEdit)%> -->
        <fieldset>
            <legend>Delete Employees</legend>
            <div class="input-group d-non">
                <label for="id">ID:</label>
                <input type="text" id="employee_id" name="employeeId" value="<%=employeeEdit.employee_id %>"><br><br>
            </div class="input-group">
            
            <div class="input-group">            
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%=employeeEdit.email %>"><br><br>
            </div>
        </fieldset>
        <div>
            <button>Confirm</button>
        </div>
    </form>
    </div>

</body>

</html>