<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/setting">Setting</a>
    </div>
    <div>
        <h1>Form</h1>
    </div>
    <div class="form-add-new">
    <fieldset>
        <legend>Add New Employees</legend>
        <label for="id">ID:</label>
        <input type="text" id="id" name="id"><br><br>
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
      </fieldset>
    </div>
    <div>
        <button>save</button>
    </div>
</body>

</html>