<<<<<<< HEAD
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    Hello World with EJS
    <div>
        <img class="background" src="/images/background.jpg"/>
    </div>
</body>

=======
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    Hello World with EJS
    <div>
        <img class="background" src="/images/background.jpg"/>
    </div>
</body>

>>>>>>> 8c9502e9c12e718d8b0834b6a019618fef8921b8
</html>